@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: grid;
    margin: 0;
    min-height: 100svh;
    grid-template-columns: auto 1fr;
    grid-template-rows: 5rem 1fr;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    color: #2C3333;
    background-color: #CBE4DE;

    & header {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
    }
    & .search {
        grid-column: 2 / -1;
        grid-row: 1 / 2;
    }
    & main {
        grid-column: 2 / -1;
        grid-row: 2 / -1;
    }
}

header{
    background-color: #0e8388;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1.5rem;
    & a {
        color: #CBE4DE;
        text-decoration: none;
        cursor: pointer;
        padding: .5rem;
        border-radius: .5rem;
        transition: background-color .4s;
    }
    & a:hover {
        background-color: #2E4F4F;
    }
}

header a {
    color: #CBE4DE;
    text-decoration: none;
}

.search {
    background-color: #2E4F4F;
}

main {
    padding: 1.5rem;
}

img {
    width: 100%;
    object-fit: cover;
}

h1 {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    margin: 1rem;
    gap: 4rem 2rem;
}
