.mainbox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:4rem 2rem;
}

.item {
    border-radius: 1rem;
    padding: 1rem;
    background-color: #0e8388;
    & img {
        aspect-ratio: 16 / 9;
        border-radius: inherit;
    }
}